@import "variables";

.right-column {
  height: 100%;
  overflow-x: scroll;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  > div {
    min-width: 800px;
  }
}


.new-user-actions {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 100%;

  .new-user-actions__action {
    height: 100px;
    background: $primary-grey-light;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 40px;
    margin-top: 10rem;
  }

  hr {
    background: $primary-grey-dark;
    width: 100%;
    height: 2px;
  }
}

.board-content-nav {
  .new-user-actions__action {
    height: 300px;
    p {
      margin-bottom: 30px;
    }
  }
}

.right-column {

  .board-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    position: relative;
    > svg.spinner {
      position: absolute;
      top: calc(50% - 76px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .list-index {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 25px 20px;
      white-space: nowrap;

      > div {
        width: 250px;
        margin-right: 10px;
        border-radius: 2px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
      }

      .list-index__item-wrapper {
        white-space: pre-wrap;
        .list-index__item {
          border-radius: 2px;
          padding: 10px;
          background: $primary-grey-light;


          > hr {
            width: calc(100% + 20px);
            margin-left:  -10px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-color: $bluegrey-dark;
          }

          .list__cards {
            list-style: none;
            margin-bottom: 10px;

            li {
              a {
                text-decoration: none;
                color: black;
              }
              .list__card {
                padding: 10px;
                background: #fafafa;
                border-radius: 2px;
                margin-bottom: 5px;
                text-overflow: ellipsis;
                overflow: hidden;

              }
            }
          }

          .list-index__add-button {
            width: 100%;
            padding: 0;

            &.open {

              i.material-icons {
                font-size: 12px;
              }

              .board-list-add_actions {
                margin-top: 5px;
              }

              button {
                width: 50px;
              }
            }
          }
           button {
            width: 100%;
            padding: 3px;

            &.button-bluegrey-light {
              margin-right: 0;
            }
            > i.material-icons {
              float: none;
              font-size: 20px;
            }
          }
        }
      }

      .list-index__add-button {
        background: $primary-grey-light;
        width: 160px;
            height: auto;
            border-radius: 2px;
            padding: 5px;
        -ms-flex-item-align: start;
            align-self: flex-start;
        -webkit-transition: min-height .3s ease;
        transition: min-height .3s ease;

        &.open {
          min-height: auto;
        }
        > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-weight: bold;
          > i {
            font-weight: bold;
            font-size: 18px;
          }
          &:hover {
            cursor: pointer;
          }


        }

        > .list-index-add__form {
          background: $primary-grey-light;
          .board-list-add__actions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 15px;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            > button {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              padding: 0;
              height: 15px;
              width: 34px;

              &.button-green {
                margin-right: 0;
              }
              i {
                margin: 0;
              }
            }
          }
        }
      }

      // &::-webkit-scrollbar-thumb {
      //   background: black;
      // }
      // &::-webkit-scrollbar {
      //     height: 13px;
      //     width: 13px;
      // }
      // &::webkit-scrollbar-button {
      //   display: block;
      //   height: 9px;
      //   width: 5px;
      // }
      // &::-webkit-scrollbar-track {
      //   width: 50px;
      // }
      // &::-webkit-scrollbar-track-piece {
      //   background: red;
      // }
    }
  }
}


.modal-overlay {
  .view-card__modal-wrapper {
    margin-top: 5rem;
    padding: 0;
  }
  .view-card__modal {
    min-height: 600px;
    background: $primary-grey-dark;
    min-width: 700px;
    border-radius: 2px;
    padding: 20px;
    padding-left: 40px;
    margin-bottom: 5rem;

    > svg.spinner {
      position: absolute;
      top: calc(50% - 76px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);      
    }

    .card__header, .card__body {
      > .material-icons {
        position: absolute;
        left: -25px;
        font-size: 20px;
        top: 8px;
        color: $bluegrey-medium;
      }
    }
    .card__header {
      width:475px;
      hr {
        margin: 25px 0;
        margin-left: 5px;
        border-top-width: 1px;
      }
      textarea {
        background: transparent;
        font-size: 14px;
        font-weight: bold;
        border-radius: 2px;

        &:not(.focused):hover {
          border: 1px solid rgba(0,0,0,.1);
        }

        &.focused {
          background: #fafafa;
        }

        &:error {
          border: 1px solid $primary-red;
        }
      }

      .card-header__description {
        display: flex;
        margin-left: 4px;
        margin-top: 10px;
        align-items: center;

        > .material-icons {
          font-size: 20px;
          margin-right: 10px;
        }
        >div {
          width: 100%;
          padding: 5px 0;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .card__body {
      position: relative;
      padding-left: 5px;
      > .material-icons {
        top: 2px;
      }

      display: flex;

      .card-actions {
        flex-basis: 150px;
        padding: 0 15px;
        .actions__header {
          color: $bluegrey-medium;
          display: flex;
          align-items: flex-start;
          margin-bottom: 7px;
          .material-icons {
            font-size: 20px;
            margin-right: 10px;
            margin-top: 2px;
          }
        }
      }

      .card__comments {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        h4 {
          color: $bluegrey-medium;
        }
        .card__comment {
          margin-bottom: 10px;
        }
        .card__comment-form {
          position: relative;
          margin-top: 10px;
          margin-bottom: 40px;
          > button {
            position: absolute;
            bottom: 10px;
            right: 15px;
            padding: 2px;
            background: transparent;
            > .material-icons {
              color: $bluegrey-dark;
              font-size: 15px;
            }
          }
        }

        .comment__info {
          margin-top: 10px;
          border: 1px solid rgba(0,0,0,.1);
          padding: 7px;
          border-radius: 2px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
