@import "variables";

.right-column {
  height: 100%;
  width: 100%;
  overflow-x: scroll;

  > div {
    min-width: 800px;
  }
}


.board-content-default {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 100%;

  .board-content-default__action {
    height: 100px;
    background: $primary-grey-light;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 40px;
    margin-top: 10rem;
  }

  hr {
    background: $primary-grey-dark;
    width: 100%;
    height: 2px;
  }
}

.board-content-nav {
  .board-content-default__action {
    height: 300px;
    p {
      margin-bottom: 30px;
    }
  }
}

.right-column {

  .board-wrapper {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;

    > div {
      background: $primary-light-blue;

      &.board-lists__add-button {
        width: 160px;
            min-height: 30px;
            border-radius: 2px;
            padding: 5px;
        -ms-flex-item-align: start;
            align-self: flex-start;
        -webkit-transition: min-height .3s ease;
        transition: min-height .3s ease;

        &.open {
          min-height: auto;
        }
        > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-weight: bold;
          > i {
            font-weight: bold;
            font-size: 18px;
          }
          &:hover {
            cursor: pointer;
          }


        }

        > .board-lists-add__form {

          .board-list-add__actions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 15px;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            > button {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              padding: 0;
              height: 15px;
              width: 34px;

              &.button-green {
                margin-right: 0;
              }
              i {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
