@import "variables";
.board-toggle {
    width: 64px;
    height: 100%;
    background: $bluegrey-dark;
    list-style: none;
    padding: 25px 10px;

    div {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }

    .board-toggle__tab {
      margin-bottom: 25px;
      position: relative;

      > div {
        background: #546E7A;
        text-align: center;
        line-height: 44px;
        text-transform: uppercase;
        font-size: 20px;
      }

      &.active::before {
        width: 3px;
        height: 22px;
        background: white;
        left: -7px;
        top: 12px;
        border-radius: 5px;
        content: " ";
        display: inline-block;
        position: absolute;
      }
    }

    .board-toggle__button {
      div {
        border: 1px #979797 dashed;
        i {
          font-size: 44px;
          color: #979797;
        }
      }
    }
}
