@import "variables";
@import "misc";
.board-content {
  height: 100%;
  // overflow-x: scroll;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
          position: relative;
  > div {
    min-width: 800px;
  }

  > .spinner {
    position: absolute;
        top: calc(50% - 76px);
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }
}


.new-user-actions {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 100%;

  .new-user-actions__action {
    height: 100px;
    background: $primary-grey-light;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 40px;
    margin-top: 10rem;
  }

  hr {
    background: $primary-grey-dark;
    width: 100%;
    height: 2px;
  }
}

.board-content-nav {
  .new-user-actions__action {
    height: 300px;
    p {
      margin-bottom: 30px;
    }
  }
}

.board-content {
  .board-wrapper {
    @include scrollbar-style(#EBEBEB, height);
    overflow-x: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    position: relative;
    > svg.spinner {
      position: absolute;
      top: calc(50% - 76px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .list-index {
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      // overflow-x: auto;
      // overflow-y: scroll;
      padding: 25px 20px;
      white-space: nowrap;
      > .list-index__add-button {
        min-width: 160px;
      }

      > div{
        width: 250px;
        margin-right: 10px;
        border-radius: 2px;
        height: 100%;
        display: inline-block;
        vertical-align: top;
      }

      .list-index__item-wrapper {
        white-space: pre-wrap;
        .list-index__item {
          border-radius: 2px;
          padding: 10px;
          background: $primary-grey-light;
          position: relative;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          max-height: 100%;
          padding-right: 4px;
          cursor: pointer;

          .list__header {
            position: relative;
            margin-right: 30px;
            .list__actions {
              position: absolute;
              right: -210px;
              z-index: 5;
              top: 35px;
              background: #efeeee;
              padding: 5px 10px;
              width: 200px;
              box-shadow: 0 1px 6px rgba(0,0,0,.15);
              outline: none;
              .list-actions__header {
                cursor: default;
                text-align: center;
                  padding: 10px;
                .material-icons {
                  position: absolute;
                      right: 10px;
                      top: 10px;
                      font-size: 18px;
                      font-weight: bold;
                      cursor: pointer;
                }
              }
              hr {
                border-top-color: black;
                margin-bottom: 5px;
              }
              div[role="button"] {
                position: relative;
                padding: 5px 0;
                &:hover {
                  cursor: pointer;
                  color: white;
                  &::after {
                    content: " ";
                    position: absolute;
                    width: calc(100% + 20px);
                    left: -10px;
                    background: #49636F;
                    z-index: -1;
                    height: 100%;
                    top: 0;
                  }
                }
              }
            }
            > .material-icons {
              position: absolute;
              right: -30px;
              top: 0;
              cursor: pointer;
            }


          }
          > textarea {
            width: calc(100% - 6px);
          }
          &.placeholder::after {
            position: absolute;
            content: " ";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $primary-grey-dark;
          }
          header {
            text-overflow: ellipsis;
            overflow-x: hidden;
            flex: 0 0 auto;
          }

          > hr {
            width: calc(100% + 14px);
            margin-left:  -10px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-color: $bluegrey-dark;
          }

          .list__cards {
            list-style: none;
            overflow-y: scroll;
            @include scrollbar-style(#EBEBEB);

            &.vertical-overlow {
              li {
                margin-right: 5px!important;
              }
            }


            .placeholder__card, .placeholder__card:hover {
              border-radius: 2px;
              background: $primary-grey-dark;
              margin-bottom: 5px;
            }
            li {
              position: relative;
              &:not(:last-of-type) {
                margin-bottom: 5px;
              }

              &:last-of-type {
                margin-bottom: 10px;
              }
              a {
                outline: none;
                text-decoration: none;
                color: black;
              }
              .list__card {
                &:focus {
                  outline: 0;
                }
                padding: 10px;
                background: #fafafa;
                border-radius: 2px;
                text-overflow: ellipsis;
                overflow: hidden;

              }
            }
          }

          .list-index__add-button {
            width: 100%;
            padding: 0;
            min-height: 30px;
            padding-right: 6px;
            &.open {

              i.material-icons {
                font-size: 12px;
              }

              .board-list-add_actions {
                margin-top: 5px;
              }

              button {
                width: 50px;
              }
            }
          }
           button {
            width: 100%;
            padding: 3px;

            &.button-bluegrey-light {
              margin-right: 0;
              height: 30px;
            }
            > i.material-icons {
              float: none;
              font-size: 20px;
            }
          }
        }
      }

      .list-index__add-button {
        background: $primary-grey-light;
        width: 160px;
            height: auto;
            border-radius: 2px;
            padding: 5px;
        -ms-flex-item-align: start;
            align-self: flex-start;
        -webkit-transition: min-height .3s ease;
        transition: min-height .3s ease;

        &.open {
          min-height: auto;
        }
        > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-weight: bold;
          > i {
            font-weight: bold;
            font-size: 18px;
          }
          &:hover {
            cursor: pointer;
          }


        }

        > .list-index-add__form {
          background: $primary-grey-light;
          .board-list-add__actions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 15px;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            > button {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              padding: 0;
              height: 15px;
              width: 34px;

              &.button-green {
                margin-right: 0;
              }
              i {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
