@import "colors";

$margin-left-subcategory: 30px;
.center-column {
  padding: 20px;
  min-width: 250px;
  background: $bluegrey-light;
  position: relative;

  //======================
  // Top
  //======================

   .board-configuration {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 16px;
    }

    hr {
      border-color: #263238;
      margin: 20px -20px;
    }


  //======================
  // Bottom
  //======================
  .account-configuration {
    position: absolute;
    bottom: 0;
    width: calc(100% );
    display: flex;
    align-items: center;
    left: 0;
    padding: 18px 20px;
    background: $bluegrey-medium;

    > .account-configuration__icon {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 18px;
      background: $bluegrey-light;
      margin-right: 15px;
      border-radius: 50%;
      &:hover {
        cursor: default;
      }
    }

    > .account-configuration__email {
      color: #EBEBEB;
      width: 115px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      margin-right: 20px;
      &:hover {
        cursor: default;
      }
    }

    > .material-icons {
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
   }
}


.center-column .board-actions-default {
  pointer-events: none;
  span {
    font-size: 11px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
  }

  .board-actions-default__chat {
    margin-top: 10px;
    ul {
      list-style: none;
      margin-left: 15px;
    }
    ul, li {
      margin-top: 7px;
      color: white;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1px;
    }

    > ul li ul > li {
      height: 10px;
      width: 75px;
      border-radius: 15px;
      background: #37474F;
    }
  }
}


.center-column {
  ul {
    list-style: none;
  }
  .board-nav {

    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: #9E9E9E;
      }
    }
    > .board-nav__category {
      color: white;
      font-weight: bold;
      font-size: 12px;

      &.members {
        > ul {
          margin-left: $margin-left-subcategory;
          > li {
            margin-top: 5px;
            font-weight: 100;
          }
        }
      }
      &:not(:first-of-type) {
        margin-top: 15px;
      }

      .material-icons {
        font-size: 16px;
        margin-right: 5px;
      }

      > a, > span {
        display: flex;
        align-items: center;
      }


      > .board-nav__sub-category {
        margin-left: $margin-left-subcategory;
        margin-top: 10px;

        >li:not(:first-of-type) {
          margin-top: 5px;
          margin-left: 10px;
          font-weight: 100;
        }
      }
    }
  }
}
