@import 'variables';

input {
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
}
label {
  position: relative;
  > .input-inline {
    font-size: 12px;
    letter-spacing: 1.4px;
    font-weight: 300;
    margin: 10px 0;
    height: 40px;
    padding: 5px 0;
    border-bottom: .5px solid;
    border-color: $primary-grey;
    color: white;
  }

  &.error {
    &::after {
      content: attr(data-error);
      content: attr(data-error);
      position: absolute;
      left: 0;
      bottom: -12px;
      font-size: 11px;
      color: #d50000;      
    }
    > .input-inline {
      border-color: $primary-red;
    }
  }
}


textarea {
  outline: none;
  resize: vertical;
  border: 1px solid transparent;
  font-size: 12px;
  padding: 5px;
  border-radius: 1px;
  width: 100%;

  &.error {
    border: 1px solid $primary-red;
  }
}
