@import 'variables';

@mixin box-shadow {
  -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15) !important;
          box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15) !important;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  background: rgba(0,0,0,.8);
  z-index: 100;

  > div {
    margin-top: 10rem;
    position: relative;
    .modal-exit {
      position: absolute;
      right: 15px;
      z-index: 10;
      top: 20px;
      cursor: pointer;
      color: #9e9e9e;
      font-weight: bold;
      font-size: 28px;
    }

    > div {
      margin-bottom: 5rem;
    }

  }
}


.board-form-initial {
  height: 300px;
  padding-top: 45px!important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  text-align: center;
  background: $primary-offwhite;
  @include box-shadow;
  border-radius: 2px;;

  p {
    font-size: 12px;
  }

  button {
    margin-top: 30px;
  }
}


.modal-overlay {
  .add-board-modal__wrapper {
    margin-top: 10rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    .board-form-create, .board-form-join {
      background: $primary-offwhite;
      width: 480px;
      padding: 30px;
      position: relative;
      padding-bottom: 70px;
      -ms-flex-item-align: start;
          align-self: flex-start;
      header {
        text-align: center;
        letter-spacing: .6px;
        font-weight: bold;
      }

      p {
        font-size: 13px;
        margin: 30px 0;
      }
      div[class$="inputs"] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        > label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            font-size: 10px;
            font-weight: bold;
            color: gray;
            margin-bottom: 30px;
            > input {
              height: 25px;
              border-bottom: 1px solid gray;
              width: 300px;
              font-size: 12px;
            }
            p {
              width: 300px;
              margin: 0;
              font-weight: 400;
              letter-spacing: initial;
              text-transform: none;
              &.error {
                color: $primary-red;
              }
            }
        }
      }
      footer {
        background: $primary-light-blue;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        padding: 20px 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-weight: bold;
          font-size: 12px;
          &:hover {
            cursor: pointer;
          }
          i {
            font-weight: bold;
            font-size: 12px;
            margin-right: 5px;
          }
        }
      }
    }
    .board-form-create {
      header {
        color: $primary-green;
      }

      .board-form-create__inputs {
        label:nth-of-type(2) {
          input {
            margin-bottom: 5px;
          }
        }
      }
      footer {
        color: $primary-green;
      }
    }

    .board-form-join {
      .board-form-join__inputs {
        label {
          text-transform: uppercase;
          letter-spacing: .4px;
          input {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.modal-overlay {
  .invite-modal__wrapper {
    .invite-modal__content {
      @include box-shadow;
      padding: 40px 65px;
      background: #EEEEEE;
      border-radius: 2px;
      margin-bottom: 5rem;
      h2 {
        margin-bottom: 50px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
        margin-top: 20px;
        letter-spacing: 0.6px;
      }

      .invite__row {
        margin-bottom: 20px;
        position: relative;
        label {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          font-size: 10px;
          font-weight: bold;
          color: gray;
          letter-spacing: .5px;
          input {
            margin-top: 6px;
            padding-bottom: 2px;
            border-bottom: 1px solid gray,
          }

          &::after {
            content:attr(data-error);
            color: #D50000;
            right: 0;
            font-size: 11px;
            letter-spacing: .3px;
            font-weight: 500;
          }
        }

        i.material-icons{
          position: absolute;
          right: -24px;
          top: 25px;
          font-weight: bold;
          color: #D50000;
          font-size: 18px;
          &:hover {
            cursor: pointer;
          }
        }
      }

      .invite__add {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: $bluegrey-light;
        font-weight: bold;
        .material-icons {
          font-size: 18px;
          margin-right: 5px;
          font-weight: bold;
        }

        &:hover {
          cursor: pointer;
        }
      }

      button {
        width: 100%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 7px;
        font-size: 15px;
        font-weight: 500;
        margin-top: 30px;

        > i.material-icons {
          font-size: 18px;
          margin-top: 0px;
        }
      }

      &.results {
        .results-button {
          width: 100%;
        }
        .results__container {
          > div {
            margin-bottom: 40px;
          }

          .results__row {
            margin-bottom: 5px;
          }

          .results__header, .results__row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            > span {
              -webkit-box-flex: 1;
                  -ms-flex-positive: 1;
                      flex-grow: 1;
              -ms-flex-preferred-size: 50%;
                  flex-basis: 50%;
            }
          }

          .results__header {
            padding: 10px 0;
            border-bottom: 1px solid gray;
            margin-bottom: 10px;
            font-weight: bold;
          }

          .results__success {
            .results__header {
              border-bottom-color: $primary-green;
            }
          }

          .results__errors {
            .results__header {
              border-bottom-color: $primary-red;
            }
          }
        }

        .results__actions {
          button {
            // width: auto;
          }
        }
      }
    }
  }
}


/*==============================*/
/* Configuration*/
/*==============================*/
@mixin config-navlink-hover($background) {
  z-index: -1;
  content: " ";
  position: absolute;
  height: 30px;
  width: calc(100% + 50px);
  left: -25px;
  top: -5px;
  background: $background;
}
.configuration-modal__wrapper {
  > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .configuration__nav, .configuration-content {
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav__header, .configuration-content__header {
    margin-bottom: 25px;
    font-weight: bold;
    color: $primary-grey;
  }

  .configuration__nav {
    background: $bluegrey-dark;
    color: $primary-grey;
    font-weight: 100;

    width: 200px;
    min-height: 400px;
    position: relative;
    ul {
      list-style: none;
      li {
        position: relative;
        margin: 15px 0;
        height: 20px;
        z-index: 5;
        &:first-of-type {
          margin-top: 0;
        }

        &:not(.active):hover {
          cursor: pointer;
          &::after {
            @include config-navlink-hover(rgba(235, 235, 235, .08));

          }
        }
        &.active {
          cursor: default;
          &::after {
            border-left: 1px solid white;
            @include config-navlink-hover($bluegrey-medium);
          }
        }
      }
    }

    .nav__action {
      padding-top: 20px;
      position: absolute;
      bottom: 25px;
      width: calc(100% - 50px);
      border-top: 1px solid $primary-grey-dark;
      span {
        color: $primary-red;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  .configuration-content {
    width: 400px;
    background: $bluegrey-light;
    position: relative;
    .configuration-content__body {
      margin-bottom: 25px;
    }
  }


  /* Board Settings*/
  .board-settings__container, .account-settings__container {
    .configuration-content {
      .content__board-overview {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .board-overview__logo {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-right: 30px;
          div {
            height: 75px;
            width: 75px;
            border-radius: 50%;
            background: $bluegrey-medium;
            margin-bottom: 10px;
            position: relative;
            &::after {
              content: attr(data-title);
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
                      transform: translate(-50%, -50%);
              font-size: 34px;
              color: white;            }
          }
          span {
            cursor: pointer;
            font-size: 12px;
            letter-spacing: .4px;
            color: white;
          }
        }

        .board-overview__title {
          color: $primary-grey;
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            font-size: 11px;
            font-weight: bold;
            letter-spacing: .5px;
            color: #9e9e9e;
            &::after {
              content: attr(data-error);
              color: red;
              color: red;
              font-weight: 400;
              letter-spacing: .6px;
              margin-top: 1px;
            }
            input {
              padding: 5px;
              background: white;
              border-radius: 2px;
              margin-top: 5px;
              border: 1px solid transparent;
              &.error {
                border-color: $primary-red;
              }
            }
          }
        }
        button {
          position: absolute;
          bottom: 25px;
          right: 25px;
          margin-right: 0;
          font-size: 14px;
          font-weight: normal;
          letter-spacing: .6px;
        }
      }

      .board-settings__members {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
         > :nth-child(n+4) {
          margin-top: 10px;
        }
        .board-settings__member {
          margin-right: 10px;

          .board-settings__member-icon {
            height: 90px;
            width: 90px;
            background: $bluegrey-dark;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            span {
              color: white;
              margin-top: 5px;
              font-size: 11px;
              text-overflow: ellipsis;
              width: 60px;
              overflow-x: hidden;
              text-align: center;
              pointer-events: none;
            }
            div {
              height: 45px;
              width: 45px;
              background: $bluegrey-medium;
              border-radius: 50%;
              position: relative;
              &::after {
                content: attr(data-username);
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                font-size: 18px;
                color: white;
                text-transform: uppercase;
              }
            }
          }

          > button {
            margin: 0;
            width: 100%;
            border-radius: 0;
            background: $bluegrey-medium;
            color: $primary-red;
            letter-spacing: .5px;
            opacity: 1;
            width: 90px;
          }
          > p {
            pointer-events: none;
            padding: 5px;
            text-align: center;
            letter-spacing: .3px;
            background: $bluegrey-medium;
            color: white;
            font-size: 12px;
          }
        }
      }

      .board-settings__invites {

        > div > :nth-child(n+3) {
          margin-top: 10px;
        }

        > div:nth-of-type(1) {
          margin-top: 35px;
        }

        > p {
          padding-bottom: 5px;
          margin-bottom: 10px;
          color: $primary-grey;
          border-bottom: 1px solid $primary-grey;
        }

        > button {
          margin-bottom: 30px;

          & + div {
            margin-top: 0px!important;
          }
        }

        .board-settings__invites-pending {
          margin-bottom: 30px;
        }
        > div {
          h4 {
            margin-bottom: 10px;
            color: #9e9e9e;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: .7px;
          }
        }

        .board-settings__invite {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          background: $bluegrey-medium;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 5px 10px;
          -ms-flex-negative: 5;
              flex-shrink: 5;
          > div {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: $bluegrey-dark;
            -ms-flex-preferred-size: 30px;
                flex-basis: 30px;
            min-width: 30px;
            position: relative;
            &.profile-image__placeholder::after {
              content: attr(data-placeholder);
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
                      transform: translate(-50%, -50%);
              color: white;
              font-size: 11px;
            }
          }

          span {
            margin-left: 10px;
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            overflow-x: hidden;
            text-overflow: ellipsis;
            pointer-events: none;
            color: $primary-grey;
          }

          i {
            cursor: pointer;
            margin-left: 20px;
            color: $primary-red;
            font-weight: bold;
          }
        }
      }
    }
  }

  .account-settings__container {
    .nav__action {
      padding-top: 0;
      border: none;
      > div {
        display: flex;
        flex-direction: column;
        span {
          padding: 5px 0;
          &:first-of-type {
            color: $primary-grey;
          }
        }

        hr {
          margin: 5px 0;
        }
      }
    }
  }
}
