@import 'variables';

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* -webkit-box-align: center;*/
  /*     -ms-flex-align: center;*/
  /*         align-items: center;*/
  overflow-y: auto;
  background: rgba(0,0,0,.8);
  z-index: 100;

  > div {
    padding: 20px;
    margin-top: 10rem;
  }
}


.board-form-initial {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  text-align: center;
  background: $primary-offwhite;

  p {
    font-size: 12px;
  }

  button {
    margin-top: 30px;
  }
}


.modal-overlay {
  .add-board-modal__wrapper {
    margin-top: 10rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    .board-form-create, .board-form-join {
      background: $primary-offwhite;
      width: 480px;
      padding: 30px;
      position: relative;
      padding-bottom: 70px;
      -ms-flex-item-align: start;
          align-self: flex-start;
      header {
        text-align: center;
        letter-spacing: .6px;
        font-weight: bold;
      }

      p {
        font-size: 13px;
        margin: 30px 0;
      }
      > div[class$="inputs"] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        > label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            font-size: 10px;
            font-weight: bold;
            color: gray;
            margin-bottom: 30px;
            > input {
              height: 25px;
              border-bottom: 1px solid gray;
              width: 200px;
              font-size: 12px;
            }
        }
      }
      footer {
        background: $primary-light-blue;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        padding: 20px 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-weight: bold;
          font-size: 12px;
          &:hover {
            cursor: pointer;
          }
          i {
            font-weight: bold;
            font-size: 12px;
            margin-right: 5px;
          }
        }
      }
    }
    .board-form-create {
      header {
        color: $primary-green;
      }
      footer {
        color: $primary-green;
      }
    }
  }
}

.modal-overlay {
  .invite-modal__wrapper {
    .invite-modal__content {
      padding: 40px 65px;
      background: #EEEEEE;
      border-radius: 2px;
      margin-bottom: 5rem;
      h2 {
        margin-bottom: 40px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
        margin-top: 20px;
        letter-spacing: 0.6px;
      }

      .invite__row {
        margin-bottom: 20px;
        position: relative;
        label {
          display: flex;
          flex-direction: column;
          font-size: 10px;
          font-weight: bold;
          color: gray;
          letter-spacing: .5px;
          input {
            margin-top: 6px;
            padding-bottom: 2px;
            border-bottom: 1px solid gray,
          }
        }

        i.material-icons{
          position: absolute;
          right: -24px;
          top: 25px;
          font-weight: bold;
          color: #D50000;
          font-size: 18px;
          &:hover {
            cursor: pointer;
          }
        }
      }

      .invite__add {
        display: flex;
        align-items: center;
        color: $bluegrey-light;
        font-weight: bold;
        .material-icons {
          font-size: 18px;
          margin-right: 5px;
          font-weight: bold;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
