@import "variables";
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navbar {
  flex-grow: 1;
    width: 64px;
    background: $bluegrey-dark;
    list-style: none;
    padding: 25px 10px;

    .navbar__tab {
      margin-bottom: 25px;
      position: relative;
      a {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        text-decoration: none;
        color: white;
        background: #546E7A;
        text-align: center;
        line-height: 44px;
        text-transform: uppercase;
        font-size: 20px;
        display: inline-block;
        position: relative;
        &.active::before {
          width: 3px;
          height: 22px;
          background: white;
          left: -7px;
          top: 12px;
          border-radius: 5px;
          content: " ";
          display: inline-block;
          position: absolute;
        }

        &[data-badge='unread-messages']::after {
          content: ' ';
          height: 10px;
          width: 10px;
          position: absolute;
          right: 3px;
          bottom: 0;
          background: palevioletred;
          border-radius: 50%;
        }
      }
    }

    .navbar__button {
      div {
        border: 1px #979797 dashed;
        border-radius: 50%;
        cursor: pointer;
        height: 44px;
        width: 44px;
        i {
          font-size: 44px;
          color: #979797;
        }
      }
    }
}
