@import "variables";

$input-width: 225px;
.session-form {
  height: 100%;
  width: 100%;
  background: #546E7A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .session-form__content {
    max-width: 420px;
    padding: 20px 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0,0,0,.6);
    color: white;
    > p.error__credentials {
      margin-top: 30px;
      color: $primary-red;
    }
    > img {
      width: 125px;
    }
    h3 {
      margin: 30px 0;
      letter-spacing: 3.5px;
      text-transform: uppercase;
    }
    label {
      margin-bottom: 10px;
      width: 225px;
      .session-form__input {
        width: $input-width;
      }
      &:last-of-type {
        margin-bottom: 40px;
      }

      > p {
        font-size: 13px;
        font-weight: 100;

        &.error {
          color: $primary-red;
          margin-bottom: 5px;
        }
      }
    }

    .session-form__button {
      background: $primary-grey;
      height: 40px;
      width: $input-width;
      border-radius: 0;
      font-weight: bold;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: white;
      margin: 0 auto;
    }

    hr {
      width: $input-width;
      margin: 20px 0;
      height: 1px!important;
      border-style: none;
      content: " ";
      background: gray;
    }

    .session-form__link {
      font-size: 12px;
      color: $primary-grey;
      pointer-events: none;
      > a {
        color: white;
        pointer-events: all;
        cursor: pointer;
      }
    }

    .session-form__errors {
      width: $input-width;
      margin: 5px 0;
      list-style: none;
      font-size: 12px;
      letter-spacing: .6px;
      color: $primary-red;
      > li:nth-child(2) {
        margin-top: 5px;
      }
    }
  }

  &.invite-form {
    .session-form__content {
    }
    h3 {
      max-width: 225px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      b { color: $primary-grey; }
    }
    button.processing {
      cursor: not-allowed;
      opacity: 1;
      svg {
        height: 20px;
      }
    }
    &.loading {
      .spinner {
        margin: 30px 0;
      }

      .session-form__content div {
        text-align: center;
        p {
          text-align: left;
          margin-top: 40px;
          font-size: 14px;
          line-height: 24px;
          font-weight: 100;
          margin-bottom: 20px;
        }
        a {
          display: inline-block;
          button {
            text-transform: uppercase;
            letter-spacing: 2px;
            width: 100px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
