@import "variables";

$input-width: 225px;
.session-form {
  height: 100%;
  width: 100%;
  background: #546E7A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .session-form__content {
    max-width: 420px;
    padding: 20px 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0,0,0,.6);
    color: white;
    > p {
      margin-top: 30px;
      color: $primary-red;
    }
    > img {
      width: 125px;
    }
    h3 {
      margin: 30px 0;
      letter-spacing: 3.5px;
      text-transform: uppercase;
    }
    label {
      margin-bottom: 10px;
      .session-form__input {
        width: $input-width;
      }
      &:nth-of-type(2) {
        margin-bottom: 40px;
      }
    }

    .session-form__button {
      background: $primary-grey;
      height: 40px;
      width: $input-width;
      border-radius: 0;
      font-weight: 300;
      letter-spacing: 1.4px;
      color: white;
      margin: 0 auto;
    }

    hr {
      width: $input-width;
      margin: 20px 0;
      height: 1px!important;
      border-style: none;
      content: " ";
      background: gray;
    }

    .session-form__link {
      font-size: 12px;
      color: $primary-grey;
      pointer-events: none;
      > a {
        color: white;
        pointer-events: all;
        cursor: pointer;
      }
    }

    .session-form__errors {
      width: $input-width;
      margin: 5px 0;
      list-style: none;
      font-size: 12px;
      letter-spacing: .6px;
      color: $primary-red;
      > li:nth-child(2) {
        margin-top: 5px;
      }
    }
  }
}
