$primary-grey: #9E9E9E;
$primary-grey-light: #EBEBEB;
$primary-grey-dark: #D8D8D8;
$primary-offwhite: #EEEEEE;
$primary-red: #D50000;
$primary-green: #00897B;
$primary-light-blue: #CFD8DC;
$bluegrey-dark: #263238;
$bluegrey-medium: #37474F;
$bluegrey-light: #49636F;

$nav-width: 64px;
$sub-nav-width: 250px;
